:root {
    --background-tooltip-dark: #191E3A;
    --letter-tooltip: #f3f3f3;
}

.charts {
    height: 100%;
    max-width: 100%;
    min-height: 90%;
}

.bannerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apexcharts-tooltip {
    background-color: var(--background-tooltip-dark);
    color: var(--letter-tooltip);
}

#iconChart3{
    height: 45px;
    width: 45px;
    margin: 1.1rem;
}
.chart2{
    padding-top: 20px;
    height:100%;

}
.chart2:hover{
}

.chart3{
    margin-top: 2rem;
}