:root{
    --background-color-dark: #060818;
    --bar-color-dark: #191E3A;
    --top-side-bar-dark: #1B2E4B;
    --chart-dark: #0E1726;
    --main-color-dark: #fff;
    --second-color-dark: #6C728C;
    --sideBar-hover: #61B6CD;
}

.pageContent{
    margin-left: 5rem;
    margin-top: 6rem;
    position: absolute;
    z-index: 1;
    width: 93vw;
    /* background-color: red; */
}

.row{
    display: flex;
    flex-direction: row;
}

.banner{
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color: var(--chart-dark);
    border-radius: 10px;
    color: var(--main-color-dark);
}

.firstRow{
    height: 25rem;
    flex: 1;
}
.secondRow{
    height: 25rem;
    flex: 1;
}
.thirdRow{
    height: 25rem;
    flex: 1;
}
.fourthRow{
    height: 25rem;
    flex: 1;
}