:root {
    --background-color-dark: #060818;
    --bar-color-dark: #191E3A;
    --top-side-bar-dark: #1B2E4B;
    --chart-dark: #0E1726;
    --main-color-dark: #fff;
    --second-color-dark: #6C728C;
    --sideBar-hover: #61B6CD;
}

.pageContent {
    margin-left: 5rem;
    margin-top: 5rem;
    position: absolute;
    z-index: 1;
    width: 93vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.banner {
    /* margin-bottom: 1rem; */
    margin: 1rem 1rem;
    background-color: var(--chart-dark);
    border-radius: 10px;
    color: var(--main-color-dark);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.firstRow {
    height: 30rem;
}

.secondRow {
    height: 25rem;
}

.thirdRow {
    height: 35rem;
}

.fourthRow {
    height: 35rem;
}

.banner1 {
    display: flex;
    flex: 2.07;
}

.bannerTitle {
    height: fit-content;
    margin: 1.1rem;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--top-side-bar-dark);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--second-color-dark);
    border-radius: 20px;
    border: 2px solid var(--top-side-bar-dark);
}