<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ad0a023259.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Sales Admin</title>
</head>

<body>
    <!-- INICIO NAV BAR -->
    
    <!-- FIM NAV BAR -->
    <!-- INICIO SIDE BAR -->
    <div class="sideBar">
        <div class="topLogoSideBar">
            <img src="../../images/logo-sidebar.png" alt="logo-side-bar" id="imgLogo">
            <span class="textLogoSideBar">
                LAMBO
            </span>
        </div>
        <div class="sideBarContent">
            <ul class="listSideBar">
                <li>
                    <a href="dashboard.html">
                        <ion-icon name="bar-chart-outline"></ion-icon>
                        <span class="textSideBar">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li>
                    <a href="../../index.html">
                        <ion-icon name="chatbox-outline"></ion-icon>
                        <span class="textSideBar">
                            Chat
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- FIM SIDE BAR -->

</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>