<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../../dashboard/css/sideBar.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>



  <title>Chat Application</title>
</head>

<body>
  <!--NavBar-->
  <div class="wrapper toggle-wrap">
    <div class="navbar">
      <div class="nav-right">
        <ul class="base">
          <li class="drop toggle-trigger">
            <a href="#">
              <img src="../../img/ca.png" alt="Admin" width="20" height="20">
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown toggle-area">
              <ul class="languages">
                <li><a href="#"><img src="../../img/ge.png" alt="Admin" width="20" height="20"> German</a></li>
                <li><a href="#"><img src="../../img/jp.png" alt="Admin" width="20" height="20">Japanese</a></li>
                <li><a href="#"><img src="../../img/fr.png" alt="Admin" width="20" height="20">French</a></li>
                <li><a href="#"><img src="../../img/en.png" alt="Admin" width="20" height="20">English</a></li>
              </ul>
            </div>


          </li>
          <li class="drop toggle-trigger">
            <a href="#">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown toggle-area">
              <ul id="mail">
                <!-- <li><a href="#">
                  <span class="avatar-title rounded-circle">KY</span>
                  <h6>Kara Young</h6>
                  <p>Account Update</p>
                </a></li>
                <li><a href="#">
                  <span class="avatar-title rounded-circle">DA</span>
                  <h6>Daisy Anderson</h6>
                  <p>Account Update</p>
                </a></li>
                <li><a href="#">
                  <span class="avatar-title rounded-circle">OG</span>
                  <h6>Oscar Garner</h6>
                  <p>Account Update</p>
                </a></li> -->
              </ul>
            </div>
          </li>
          <li class="drop toggle-trigger">
            <a href="#">
              <ion-icon name="notifications-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown toggle-area">
              <ul id="notify">
                <!-- <li><a href="#">
                  <h6>Server Rebooted</h6>
                  <p>45 min ago</p>
                </a></li>
                <li><a href="#">
                  <h6>Licence Expiring Soon</h6>
                  <p>8 hrs ago</p>
                </a></li>
                <li><a href="#">
                  <h6>Kelly Portfolio.pdf</h6>
                  <p>670 kb</p>
                </a></li> -->

              </ul>
            </div>
          </li>
          <li class="drop toggle-trigger">
            <a href="#">
              <ion-icon name="person-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown toggle-area">
              <ul id="profile">
                <li><a href="#">
                    <ion-icon name="person-outline"></ion-icon>Profile
                  </a></li>
                <li><a href="#">
                    <ion-icon name="file-tray-outline"></ion-icon>Inbox
                  </a></li>
                <li><a href="#">
                    <ion-icon name="log-out-outline"></ion-icon>LogOut
                  </a></li>
              </ul>
            </div>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Fim da NavBar-->
  <!--SideBar-->
  <div class="sideBar">
    <div class="topLogoSideBar">
      <img src="../../img/logo-sidebar.png" alt="logo-side-bar" id="imgLogo">
      <span class="textLogoSideBar">
        Vongola
      </span>
    </div>
    <div class="sideBarContent">
      <ul class="listSideBar">
        <li>
          <a href="../../dashboard/view/dashboard.html">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <span class="textSideBar">
              Dashboard
            </span>
          </a>
        </li>
        <li>
          <a href="index.html" class="selected">
            <ion-icon name="chatbox-outline"></ion-icon>
            <span class="textSideBar">
              Chat
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Fim da SideBar-->
</body>
<script src="../../jquery.min.js"></script>
<script src="../js/script.js"></script>

</html>