<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../../dashboard/css/sideBar.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <title>Chat Application</title>
</head>

<body>
 <!--NavBar-->
  <div class="wrapper">
    <div class="navbar">
      <div class="nav-right">
        <ul class="base">
          <li class="drop">
            <a href="#">
              <img src="../../img/ca.png" alt="Admin" width="20" height="20">
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown">
              <ul class="languages">
                <li><a href="#"><img src="../../img/german.png" alt="Admin" width="20" height="20"> German</a></li>
                <li><a href="#"><img src="../../img/jp.png" alt="Admin" width="20" height="20">Japanese</a></li>
                <li><a href="#"><img src="../../img/fr.png" alt="Admin" width="20" height="20">French</a></li>
                <li><a href="#"><img src="../../img/ca.png" alt="Admin" width="20" height="20">English</a></li>
              </ul>
            </div>


          </li>
          <li class="drop">
            <a href="#">
              <ion-icon name="mail-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown">
              <ul id="mail">
                <li><a href="#">
                  <h4>Kara Young</h4>
                  <p>Account Update</p>
                </a></li>
                <li><a href="#">
                  <h4>Daisy Anderson</h4>
                  <p>Account Update</p>
                </a></li>
                <li><a href="#">
                  <h4>Oscar Garner</h4>
                  <p>Account Update</p>
                </a></li>
              </ul>
            </div>
          </li>
          <li class="drop">
            <a href="#">
              <ion-icon name="notifications-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown">
              <ul id="notify">
                <li><a href="#">
                  <h4>Server Rebooted</h4>
                  <p>45 min ago</p>
                </a></li>
                <li><a href="#">
                  <h4>Licence Expiring Soon</h4>
                  <p>8 hrs ago</p>
                </a></li>
                <li><a href="#">
                  <h4>Kelly Portfolio.pdf</h4>
                  <p>670 kb</p>
                </a></li>
                
              </ul>
            </div>
          </li>
          <li class="drop">
            <a href="#">
              <ion-icon name="person-outline"></ion-icon>
              <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div class="dropdown">
              <ul id="profile">
                <li><a href="#">
                    <ion-icon name="person-outline"></ion-icon>Profile
                  </a></li>
                <li><a href="#">
                    <ion-icon name="file-tray-outline"></ion-icon>Inbox
                  </a></li>
                <li><a href="#">
                    <ion-icon name="log-out-outline"></ion-icon>LogOut
                  </a></li>
              </ul>
            </div>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Fim da NavBar-->
  <!--SideBar-->
  <div class="sideBar">
    <div class="topLogoSideBar">
      <img src="../../img/logo-sidebar.png" alt="logo-side-bar" id="imgLogo">
      <span class="textLogoSideBar">
        Vongola
      </span>
    </div>
    <div class="sideBarContent">
      <ul class="listSideBar">
        <li>
          <a href="../../dashboard/view/dashboard.html">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <span class="textSideBar">
              Dashboard
            </span>
          </a>
        </li>
        <li>
          <a href="index.html" class="selected">
            <ion-icon name="chatbox-outline"></ion-icon>
            <span class="textSideBar">
              Chat
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
 <!--Fim da SideBar-->
</body>
  <script src="../js/script.js"></script>
</html>